<header id="navigation" class="p-navigation--sliding is-dark is-sticky">
  <div class="p-navigation__row--25-75">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="/">
          <span class="p-navigation__logo-title">Sandipa Roy</span>
        </a>
      </div>
      <ul class="p-navigation__items">
        <li class="p-navigation__item">
          <button class="js-menu-button p-navigation__link">Menu</button>
        </li>
      </ul>
    </div>
    <nav class="p-navigation__nav" aria-label="Example main">
      <ul class="p-navigation__items">
        {% for navitem in site.data.navigation %}
          {% if navitem.children %}
          <li class="p-navigation__item--dropdown-toggle js-navigation-dropdown-toggle" id="{{ navitem.slug }}">
            <button href="#{{ navitem.slug }}-menu" aria-controls="{{ navitem.slug }}-menu" class="p-navigation__link">{{ navitem.title }}</button>
            <ul class="p-navigation__dropdown js-dropdown-nav-list js-navigation-sliding-panel" id="{{ navitem.slug }}-menu" aria-hidden="true">
              {% for child in navitem.children %}
              <li>
                <a href="/{{ navitem.slug }}{{ child.url }}" class="p-navigation__dropdown-item">{{ child.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="p-navigation__item{% if page.url == navitem.url %} is-selected{% endif %}">
            <a class="p-navigation__link" href="{{ navitem.url }}">{{ navitem.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<!-- <script src="/static_files/js/nav.js"></script> -->
<script src="/static_files/js/sliding_nav.js"></script>
