<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Sandipa Roy's personal website showcasing research, work experience, achievements, and publications." />
    <meta name="keywords"
          content="Sandipa Roy, Research, ISI Kolkata, Publications, Achievements, Work Experience" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet"
          href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.21.0.min.css" />
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
